.title {
  margin: 0;
  padding-bottom: 1rem;
}

.radio {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.confirmed {
  margin-right: 0.5rem;
}

.deaths {
  margin: 0 0.5rem 0 1.25rem;
}
